.login-form-addon {
    padding: .375rem .75rem;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
}
.menu-item
{
    width: 100px;
    height: 100px;
}
.error {
    font-size: 16px;
    color: #cc0000;
    width: 100%;
}

.none {
    display: none;
}

.citySuggest {
    overflow: scroll;
    height: 200px;
}
.citySuggest li{
    cursor: pointer;
}

.removeService {
    cursor: pointer;
    color: red;
}

.qty {
    width: 50px;
    margin: 0 10px;
}