* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:0
}
html {
    scroll-behavior:smooth
}
body {
    overflow-x:hidden
}
a {
    text-decoration:none
}
ul {
    list-style-type:none
}
figure {
    margin:0
}
.clear {
    clear:both
}
fieldset {
    border:none !important;
    padding:0 !important;
    margin:0 !important
}
textarea:focus,
input:focus {
    outline:none
}
input,
select,
textarea {
    border:0;
    color:black
}
button {
    background:transparent;
    color:initial
}
img {
    width:100%;
    height:auto;
    display:block
}
*:focus {
    outline:0
}
input[type=search]::-ms-clear {
    display:none;
    width:0;
    height:0
}
input[type=search]::-ms-reveal {
    display:none;
    width:0;
    height:0
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display:none
}
.hidden {
    display:none
}
.hidden.icon {
    display:none
}
.animation,
a,
.block h4 a,
.attend button,
.block--info h3 a {
    -webkit-transition:all 300ms ease-in-out;
    -moz-transition:all 300ms ease-in-out;
    -o-transition:all 300ms ease-in-out;
    transition:all 300ms ease-in-out
}
@-webkit-keyframes logoMove {
    0% {
        transform:scale(1)
    }
    5% {
        transform:scale(1.15)
    }
    10% {
        transform:scale(1)
    }
    15% {
        transform:scale(1.15)
    }
    20% {
        transform:scale(1)
    }
}
@-webkit-keyframes spining {
    0% {
        transform:rotate(0deg)
    }
    100% {
        transform:rotate(360deg)
    }
}
@keyframes fall {
    0% {
        opacity:0.9;
        top:0%
    }
    100% {
        opacity:0.2;
        top:100%
    }
}
@keyframes blow-soft-left {
    0% {
        margin-left:0
    }
    100% {
        margin-left:-50%
    }
}
@keyframes blow-medium-left {
    0% {
        margin-left:0
    }
    100% {
        margin-left:-100%
    }
}
@keyframes blow-soft-right {
    0% {
        margin-left:0
    }
    100% {
        margin-left:50%
    }
}
@keyframes blow-medium-right {
    0% {
        margin-left:0
    }
    100% {
        margin-left:100%
    }
}
@keyframes sway-0 {
    0% {
        transform:rotate(-5deg)
    }
    40% {
        transform:rotate(28deg)
    }
    100% {
        transform:rotate(3deg)
    }
}
@keyframes sway-1 {
    0% {
        transform:rotate(10deg)
    }
    40% {
        transform:rotate(43deg)
    }
    100% {
        transform:rotate(15deg)
    }
}
@keyframes sway-2 {
    0% {
        transform:rotate(15deg)
    }
    40% {
        transform:rotate(56deg)
    }
    100% {
        transform:rotate(22deg)
    }
}
@keyframes sway-3 {
    0% {
        transform:rotate(25deg)
    }
    40% {
        transform:rotate(74deg)
    }
    100% {
        transform:rotate(37deg)
    }
}
@keyframes sway-4 {
    0% {
        transform:rotate(40deg)
    }
    40% {
        transform:rotate(68deg)
    }
    100% {
        transform:rotate(25deg)
    }
}
@keyframes sway-5 {
    0% {
        transform:rotate(50deg)
    }
    40% {
        transform:rotate(78deg)
    }
    100% {
        transform:rotate(40deg)
    }
}
@keyframes sway-6 {
    0% {
        transform:rotate(65deg)
    }
    40% {
        transform:rotate(92deg)
    }
    100% {
        transform:rotate(58deg)
    }
}
@keyframes sway-7 {
    0% {
        transform:rotate(72deg)
    }
    40% {
        transform:rotate(118deg)
    }
    100% {
        transform:rotate(68deg)
    }
}
@keyframes sway-8 {
    0% {
        transform:rotate(94deg)
    }
    40% {
        transform:rotate(136deg)
    }
    100% {
        transform:rotate(82deg)
    }
}
.sakura {
    pointer-events:none;
    position:absolute
}
.container {
    padding:18px
}
@media (min-width: 85.375em) {
    .container {
        max-width:1200px;
        margin-left:auto;
        margin-right:auto
    }
}
body {
    font-family:"Cormorant Garamond",serif;
    font-weight:100;
    font-size:16px;
    color:#1c2256;
    background:#fff;
    width:100vw;
    overflow-x:hidden
}
a {
    color:#1c2256
}
a:hover {
    color:#1c2256;
    text-decoration:underline
}
h1,
h2,
h3 {
    font-family:"Cormorant Garamond",serif;
    font-weight:800
}
h1 {
    font-size:2em
}
h2 {
    font-size:1.5em
}
h3 {
    font-size:1.17em
}
.image {
    background-color:#edf3f7;
    background-attachment:fixed;
    width:100%;
    overflow:hidden;
    height:100vh;
    position:relative;
    background-size:cover;
    background-position:center
}
.image--content {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index:10;
    width:100%
}
.image--content h1 {
    font-family:"Imperial Script",cursive;
    font-weight:normal;
    color:#FFFFFF;
    text-shadow:0 1px 1px #1c2256;
    text-align:center
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .image--content h1 {
        font-size:82px;
        width:100%
    }
}
@media (min-width: 48em) {
    .image--content h1 {
        font-size:92px
    }
}
@media (min-width: 85.375em) {
    .image--content h1 {
        font-size:180px
    }
}
.image--content h1 span {
    font-size:80px;
    font-weight:normal
}
.image--content h2 {
    font-family:"Imperial Script",cursive;
    font-weight:normal;
    color:#FFFFFF;
    text-shadow:0 1px 1px #1c2256;
    text-align:center;
    position:relative;
    top:-20px
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .image--content h2 {
        font-size:32px
    }
}
@media (min-width: 48em) {
    .image--content h2 {
        font-size:42px
    }
}
.clock {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    max-width:100%
}
@media (min-width: 64em) {
    .clock {
        max-width:900px;
        margin:auto;
        justify-content:space-between
    }
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .clock {
        height:78px
    }
}
@media (min-width: 30em) {
    .clock {
        height:163px
    }
}
.clock--item {
    background-image:url("/assets/css/images/wedding1/clock-bg2.png");
    background-position:top center;
    background-size:cover;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:#FFFFFF;
    font-family:'Roboto', sans-serif
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .clock--item {
        width:100px;
        height:78px
    }
}
@media (min-width: 30em) {
    .clock--item {
        width:170px;
        height:163px
    }
}
.clock--item div {
    font-weight:bold
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .clock--item div {
        font-size:22px
    }
}
@media (min-width: 30em) {
    .clock--item div {
        font-size:52px
    }
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .clock--item span {
        font-size:13px
    }
}
.image--opacity {
    background:#00315f;
    opacity:.3;
    position:absolute;
    width:100%;
    height:100%;
    z-index:1
}
.image--bg {
    position:absolute;
    background-size:contain;
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    z-index:1;
    max-width:513px;
    max-height:619px
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .image--bg {
        width:50%
    }
}
@media (min-width: 85.375em) {
    .image--bg {
        max-height:35vh
    }
}
.image--top-left {
    background-image:url("/assets/css/images/wedding1/flower-tl2.png");
    background-position:top left;
    top:0;
    left:0
}
.image--top-right {
    background-image:url("/assets/css/images/wedding1/flower-tr2.png");
    background-position:top right;
    top:0;
    right:0
}
.image--bottom-left {
    background-image:url("/assets/css/images/wedding1/flower-bl2.png");
    background-position:bottom left;
    bottom:0;
    left:0
}
.image--bottom-right {
    background-image:url("/assets/css/images/wedding1/flower-br2.png");
    background-position:bottom right;
    bottom:0;
    right:0
}
.image--scroll {
    position:absolute;
    bottom:40px;
    text-decoration:none;
    font:italic 400 14px/18px Arial;
    color:#fff;
    width:40px;
    left:50%;
    margin-left:-20px;
    text-align:center;
    z-index:2
}
.image--scroll:hover {
    color:#FFFFFF
}
.image--scroll b {
    width:25px;
    height:40px;
    border:2px solid #fff;
    border-radius:15px;
    display:inline-block;
    position:relative
}
.image--scroll b:before {
    display:block;
    content:'';
    height:4px;
    width:2px;
    background:#fff;
    left:10px;
    top:8px;
    position:absolute;
    animation:2s ease 0s normal none infinite mouse-down;
    -webkit-animation:2s ease 0s normal none infinite mouse-down
}
@keyframes mouse-down {
    0% {
        height:4px
    }
    50% {
        height:12px
    }
    100% {
        height:4px
    }
}
.names {
    margin:0 auto;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:url("/assets/css/images/wedding1/flower.png");
    background-position:top center;
    background-repeat:no-repeat;
    background-size:200px;
    width:100%
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .names {
        background-size:90px 56px;
        padding-top:60px;
        margin-bottom:40px
    }
}
@media (min-width: 30em) {
    .names {
        padding-top:94px
    }
}
.names--content {
    text-align:center;
    background:#fff;
    border-top:1px solid rgba(28,34,86,0.1);
    border-bottom:1px solid rgba(28,34,86,0.1);
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .names--content {
        flex-wrap:wrap
    }
}
@media (min-width: 48em) {
    .names--content {
        padding:18px 28px
    }
}
.names--content h3 {
    font-family:"Imperial Script",cursive;
    font-weight:normal
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .names--content h3 {
        font-size:42px
    }
    .names--content h3:last-child {
        width:100%
    }
}
@media (min-width: 48em) {
    .names--content h3 {
        font-size:56px
    }
}
.names--content span {
    font-family:"Imperial Script",cursive
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .names--content span {
        font-size:42px;
        margin-left:18px
    }
}
@media (min-width: 48em) {
    .names--content span {
        font-size:56px;
        margin:0 18px
    }
}
.block {
    width:100%;
    text-align:center;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    flex-direction:column;
    align-items:center
}
@media (min-width: 64em) {
    .block {
        margin:120px auto
    }
}
.block h3 {
    font-family:"Imperial Script",cursive;
    font-weight:normal
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .block h3 {
        font-size:32px
    }
}
@media (min-width: 30em) {
    .block h3 {
        font-size:42px
    }
}
@media (min-width: 85.375em) {
    .block h3 {
        font-size:52px
    }
}
.block h4 {
    letter-spacing:3px;
    text-transform:uppercase;
    font-weight:400;
    margin:18px 0;
    line-height:1.4em
}
.block h4 a {
    display:block;
    margin:2px 0;
    text-decoration:underline;
    position:relative;
    top:0
}
.block h4 a:hover {
    top:-4px
}
.block p {
    font-size:20px;
    letter-spacing:1.2px;
    line-height:32px;
    font-weight:300;
    text-align:center;
    max-width:700px;
    margin:0 auto 18px
}
.attend--outer {
    padding:10px;
    box-shadow:0 2px 16.8px 3.2px rgba(0,0,0,0.08);
    background:#FFFFFF;
    z-index:1;
    max-width:650px;
    margin:0 auto
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .attend--outer {
        margin-top:40px
    }
}
.attend {
    position:relative;
    z-index:99
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .attend {
        padding:10px 20px;
        border:10px solid rgba(28,34,86,0.1)
    }
}
@media (min-width: 64em) {
    .attend {
        padding:60px 40px;
        border:30px solid rgba(28,34,86,0.1)
    }
}
.attend form {
    text-align:center
}
.attend input[type=text],
.attend select {
    width:100%;
    height:50px;
    margin-bottom:20px;
    border:0;
    border-bottom:1px solid rgba(28,34,86,0.1);
    background:transparent;
    border-radius:0;
    color:#1c2256
}
.attend input[type=text]::placeholder,
.attend select::placeholder {
    color:#1c2256
}
.attend button {
    padding:15px 45px;
    background:rgba(28,34,86,0.1);
    color:#1c2256;
    text-transform:capitalize;
    font-weight:400;
    font-size:16px;
    position:relative;
    display:inline-block;
    cursor:pointer;
    z-index:1
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .attend button {
        margin:10px auto 20px
    }
}
@media (min-width: 64em) {
    .attend button {
        margin:40px auto 0
    }
}
.attend button:hover {
    background:#1c2256;
    color:#FFFFFF
}
.attend--title {
    text-align:center;
    position:relative;
    padding-bottom:40px
}
.attend--title span {
    text-transform:capitalize;
    font-size:20px;
    color:rgba(28,34,86,0.5)
}
.attend--title h4 {
    line-height:55px;
    text-transform:uppercase
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .attend--title h4 {
        font-size:22px
    }
}
@media (min-width: 48em) {
    .attend--title h4 {
        font-size:40px
    }
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .attend--title h4 {
        margin:-5px auto
    }
}
@media (min-width: 30em) {
    .attend--title h4 {
        margin:15px 0
    }
}
.attend--title-img {
    position:relative;
    max-width:200px;
    margin:0 auto;
    text-align:center;
    height:56px
}
.attend--title-img img {
    width:90px;
    position:absolute;
    left:50%;
    transform:translateX(-50%)
}
.attend--title-img:before,
.attend--title-img:after {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    content:"";
    height:1px;
    background:#86a0b6
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .attend--title-img:before,
    .attend--title-img:after {
        width:60px
    }
}
@media (min-width: 30em) {
    .attend--title-img:before,
    .attend--title-img:after {
        width:100px
    }
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .attend--title-img:before {
        left:-20px
    }
}
@media (min-width: 30em) {
    .attend--title-img:before {
        left:-60px
    }
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .attend--title-img:after {
        right:-20px
    }
}
@media (min-width: 30em) {
    .attend--title-img:after {
        right:-60px
    }
}
.success {
    background:#a9e4a6;
    color:#008000FF;
    padding:8px 22px;
    width:100%;
    margin-bottom:18px;
    display:none
}
.success.active {
    display:block
}
.block--info {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    max-width:700px
}
.block--info>div {
    width:50%;
    text-align:center;
    padding:28px 0;
    margin-bottom:28px
}
.block--info>div:first-child {
    border-right:1px solid rgba(28,34,86,0.1)
}
.block--info span {
    font-size:18px;
    margin-bottom:18px;
    display:block
}
.block--info h3 {
    font-family:"Imperial Script",cursive;
    font-weight:normal
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .block--info h3 {
        font-size:32px
    }
}
@media (min-width: 30em) {
    .block--info h3 {
        font-size:42px
    }
}
@media (min-width: 85.375em) {
    .block--info h3 {
        font-size:52px
    }
}
.block--info h3 a {
    position:relative;
    top:0
}
.block--info h3 a:hover {
    top:-4px
}
.image--container {
    position:relative
}
.image--container:before {
    content:"";
    position:absolute;
    right:0;
    background-image:url("/assets/css/images/wedding1/flower-r.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:top right;
    width:50%;
    height:750px
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .image--container:before {
        top:-190px
    }
}
@media (min-width: 64em) {
    .image--container:before {
        top:0
    }
}
.image--container:after {
    content:"";
    position:absolute;
    left:0;
    background-image:url("/assets/css/images/wedding1/flower-l.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:bottom left;
    width:40%;
    height:500px
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .image--container:after {
        bottom:-140px
    }
}
@media (min-width: 64em) {
    .image--container:after {
        bottom:-400px
    }
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .image--container {
        padding-top:80px;
        padding-bottom:120px
    }
}
.about {
    width:100%;
    max-width:700px;
    margin:0 auto;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
    position:relative;
    z-index:1
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .about--first {
        margin-bottom:40px
    }
}
@media (min-width: 48em) {
    .about--first {
        margin-bottom:80px
    }
}
.about--date {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    width:100%
}
.about--date h2 {
    font-family:"Imperial Script",cursive;
    font-weight:normal
}
@media (min-width: 0) and (max-width: 29.9375em) {
    .about--date h2 {
        font-size:32px
    }
}
@media (min-width: 30em) {
    .about--date h2 {
        font-size:42px
    }
}
@media (min-width: 85.375em) {
    .about--date h2 {
        font-size:52px
    }
}
.about--date span {
    font-size:20px;
    letter-spacing:3px;
    text-transform:uppercase
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .about--date span {
        margin:9px 0 0
    }
}
@media (min-width: 48em) {
    .about--date span {
        margin:12px 0 18px
    }
}
.about--text {
    width:100%
}
.about--text p {
    font-size:20px;
    letter-spacing:1.2px;
    line-height:32px;
    font-weight:300;
    text-align:center
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .gallery {
        margin:9px 0 28px;
        column-count:1;
        column-gap:18px
    }
}
@media (min-width: 48em) {
    .gallery {
        margin:20px 0 80px;
        column-count:4;
        column-gap:28px
    }
}
@media (min-width: 85.375em) {
    .gallery {
        margin:-80px 0 80px
    }
}
.gallery img {
    max-width:100%;
    display:block
}
.gallery a {
    display:grid;
    grid-template-rows:1fr auto;
    break-inside:avoid;
    cursor:pointer;
    position:relative;
    padding:10px;
    background:#FFFFFF;
    border:5px solid rgba(28,34,86,0.1)
}
@media (min-width: 0) and (max-width: 47.9375em) {
    .gallery a {
        margin:0 0 18px
    }
}
@media (min-width: 48em) {
    .gallery a {
        margin:0 0 28px
    }
}
.gallery a:before {
    position:absolute;
    left:10px;
    top:10px;
    width:calc(100% - 20px);
    height:calc(100% - 20px);
    content:"";
    background:rgba(255,255,255,0.8);
    opacity:0;
    transition:all 0.3s;
    transform:scale(0)
}
.gallery a span {
    transition:all 0.5s;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    opacity:0;
    text-align:center;
    width:100%
}
.gallery a span svg {
    width:40px;
    height:40px
}
@media (min-width: 85.375em) {
    .gallery a:hover:before {
        opacity:1;
        transform:scale(1)
    }
    .gallery a:hover span {
        opacity:1
    }
}
.gallery figure>img {
    grid-row:1 / -1;
    grid-column:1
}
.lg-backdrop {
    background-color:rgba(0,0,0,0.7)
}
.lg-toolbar {
    background-color:transparent
}
.lg-close {
    background-color:rgba(0,0,0,0.45)
}
.footer {
    margin-top:120px;
    font-family:'Roboto', sans-serif;
    border-top:1px solid rgba(28,34,86,0.1);
    background:#fff;
    position:relative;
    z-index:1
}
.footer .container {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .footer .container {
        flex-direction:column
    }
}
@media (min-width: 64em) {
    .footer .container {
        padding-top:40px;
        padding-bottom:40px
    }
}
.footer a {
    color:#7f7f7f
}
.footer a:hover {
    color:#136ebe;
    text-decoration:underline
}
.footer--made {
    text-align:center;
    font-family:"Imperial Script",cursive;
    font-size:22px;
    letter-spacing:1px
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .footer--made {
        margin-bottom:28px
    }
}
@media (min-width: 64em) {
    .footer--made {
        order:3;
        margin-left:auto
    }
}
.footer--made a {
    color:#1c2256
}
.footer--logo {
    font-weight:bold
}
@media (min-width: 64em) {
    .footer--logo {
        order:1
    }
}
@media (min-width: 85.375em) {
    .footer--logo {
        font-size:22px
    }
}
.footer--logo span {
    background:#183152;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    width:30px;
    height:30px;
    margin-right:5px
}
.footer--logo span svg {
    fill:#ffffff;
    animation-name:logoMove;
    animation-duration:2s;
    animation-iteration-count:infinite
}
.footer--logo a {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#183152
}
.footer--info {
    color:#7f7f7f
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .footer--info {
        margin-top:28px
    }
}
@media (min-width: 64em) {
    .footer--info {
        order:2;
        margin-left:28px;
        display:-webkit-box;
        display:-webkit-flex;
        display:-moz-flex;
        display:-ms-flexbox;
        display:flex;
        flex-wrap:wrap
    }
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .footer--info nav {
        margin-bottom:28px
    }
}
@media (min-width: 64em) {
    .footer--info nav {
        width:100%
    }
}
.footer--info nav ul {
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    font-size:14px
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .footer--info nav ul {
        justify-content:center
    }
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .footer--info nav ul li {
        margin:0 9px
    }
}
@media (min-width: 64em) {
    .footer--info nav ul li {
        margin-right:18px;
        font-size:12px
    }
}
.footer--info p {
    font-size:12px;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center
}
@media (min-width: 0) and (max-width: 63.9375em) {
    .footer--info p {
        margin-top:9px
    }
}
@media (min-width: 64em) {
    .footer--info p {
        margin:12px 9px 0 0
    }
}
.footer--info p span {
    margin:0 3px
}
